{% extends 'news/base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>News</h1>
            <p>Have a look around to see some of the latest and greatest news articles from your favorite feeds.</p>
        </div>
    </div>

    <div class="container">
        {% for article in object_list %}
            <p><b>Title:</b> {{ article.title }}</p>
            <p><b>URL:</b> {{ article.url }}</p>
            <p><b>Publication date:</b>
                {% if article.publication_date %}
                    {{ article.publication_date }}
                {% else %}
                    Publication date not set on article
                {% endif %}
            </p>
            <hr>

        {% endfor %}
        {% if not object_list %}
            <p>There is not articles yet)</p>
        {% endif %}
    </div>

{% endblock %}
