{% extends 'news/base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>News Feeds</h1>
        </div>
    </div>

    <div class="container">
        <a href="{% url 'news:feeds-create' %}" class="btn btn-primary">New Feed</a>
        <hr>
        <ul>
            {% for feed in object_list %}
                <p><b>Feed url:</b> {{ feed.url }}</p>
                <p><b>Feed title:</b> {{ feed.title }}</p>
                <hr>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
